.headline {
    font-weight:bolder;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
    z-index: 3;
}

.milestone {
    display:flex;
    margin-bottom: 30px;
}

.vertical-line {
    position: absolute;
    width: 5px;
    height: 100%;
    left: 102px;
    background-color: #0688FA;
    z-index: 0;
}

.milestone-year h3 {
    font-size: 16px;
    color: #0688FA;

}

.milestone-year {
    margin-top: 8px;
}

.milestone-description {
    font-size: 16px;
}

.milestone-mail {
    margin: 10px;
    z-index: 1;
}

.progress-list {
    background-color: #EFF8FF;
    position: relative;
}

.progress-list-left-right {
    position: relative;
    padding: 0 30px;
}

.progress-list-top-bottom {
    padding: 30px 0;
}

/* iPad */
@media screen and (min-width: 768px) {
    .progress-list-left-right {
        margin-left: 120px;
    }
}