.office {
    border-radius: 5px;
    flex: 1;
    text-align: center;
    background: white;
    padding: 2rem 1rem;
    margin: 7px 19px;
    z-index: 3;
    position: relative;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 3 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 5rem;
    /* margin: -2rem; */
}

.office h3 {
    font-size: 26px;
    margin: 5px 0px;
}

.office p {
    font-size: 16px;
    margin: 0;
}

.office-container {
    position: relative;
}

.office-list {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
    background:  #FFF5F5;;
    box-sizing: border-box;
    padding: 30px;
}

.white-slanted-bg-offices {
    position: absolute;
    width: 100%;
    height: 55%;
    background-color: white;
    z-index: 2;
    top: 0;
}

.white-slanted-bg-offices:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    bottom: 0;
    transform-origin: bottom left;
    transform: skewY(8deg);
}

@media screen and (min-width: 768px) {

    .office-list {
        flex-direction: row;
    }

    .outer-office-container {
        margin-bottom: 0rem;

    }

    .inner-office-container {
        margin: 0rem;
    }
}

 /*TODO: fix padding on offices card with sinon on it 
    -move flex grow stuff to mobile instead of ipad
    
 */

